* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Luckiest Guy', cursive;
}
.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__content {
    display: flex;
    align-items: center;
    .content__button {
      display: block;
      text-decoration: none;
      outline: none;
      display: inline-block;
      padding: 20px 30px;
      margin: 10px 20px;
      position: relative;
      color: #ffffff;
      border: 1px solid rgba(255,255,255,.4);
      background: none;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2px;
      cursor: pointer;
    }
    .content__button:before,
    .content__button:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      box-sizing: border-box;
    }
    .content__button:before {
      bottom: 0;
      left: 0;
      border-left: 1px solid #ffffff;;
      border-top: 1px solid #ffffff;;
      transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
    }
    .content__button {
      top: 0;
      right: 0;
      border-right: 1px solid #ffffff;;
      border-bottom: 1px solid #ffffff;;
      transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
    }
    .content__button:hover:before,
    .content__button:hover:after{
      height: 100%;
      width: 100%;
      opacity: 1;
    }
    .content__button:hover:before {transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;}
    .content__button:hover:after {transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;}
    .content__button:hover {background: rgba(255,255,255,.2);}
    .content__color {}
  }
}
